
@media (min-width: 320px) and (max-width: 767px) {
  .grid .text{
    float: left;
    opacity: 1;
    position: relative;
    padding-bottom:20px;
  }
}



/* iPad (portrait) */
@media (min-width: 320px) and (max-width: 579px) {

  .menu{
    display:none;
  }

  .menu-media{
    display:block;
  }

  .start-page .content {
    width:320px;
    height:100%;
  }

  .start-page, .start-page .opacity{
    height:100%;
  }
  .start-page .content .text {
    width:320px;
  }
  .start-page .content .text .logo{
    margin-top:20px;
  }
  .start-page .content .text .logo img{
    max-height:50px;
  }
  h1 {
    font-size:36px;
  }

  .about-us h1 {
    margin-top:0;
  }

  .about-us .content{
    width:320px;
  }

  .about-us hr,.portfolio .portfolio-margin hr, .contact hr {
    width:106px;
  }

  .about-us .column-one, .about-us .column-two{
    width:320px;
    margin-bottom:20px;
  }

  .about-us .content .column-three{
    width:320px;
    margin-bottom:70px;
  }

  .portfolio .portfolio-margin{
    width:320px;
  }

  .partners .content{
    width:320px;
  }

  .partners .logo {
    width:320px;
  }

  .partners .logo img {
    width:80px;
    padding-bottom:20px;
  }

  .contact, .contact .content, .contact .content .form{
    width:320px;
  }

  .contact .content .contact-text{
    padding-left:0px;
    width:320px;
    text-align:center;
    margin-top:60px;
  }

  input{
    width:320px;
  }

  textarea{
    width:320px;
  }

  .contact .content .contact-text {
    width:275px;
  }

  .contact .content .form .column, .contact .content .form .column-3{
    width:320px;
  }

  .contact .content .form .column-2{
    width:320px;
    padding-left:0;
  }

  .grid li{
    margin:0 0 15px 0;
  }

  .contact{
    margin:0 auto;
  }

  .footer{
    position:relative;
  }

}



/* iPad (portrait) */
@media (min-width: 580px) and (max-width: 767px) {

  .menu{
    display:none;
  }

  .menu-media{
    display:block;
  }

  .menu-media .menu-content{
    width:540px;
  }

  .partners .logo img {
    padding-bottom:20px;
  }

  .start-page .content {
    width:320px;
    height:100%;
  }

  .start-page, .start-page .opacity{
    height:100%;
  }
  .start-page .content .text {
    width:320px;
  }


  h1 {
    font-size:36px;
  }

  .grid li{
    margin:0 5px 15px 5px;
  }

  .about-us h1 {
    margin-top:0;
  }

  .about-us .content{
    width:320px;
  }

  .about-us hr,.portfolio .portfolio-margin hr, .contact hr {
    width:106px;
  }

  .about-us .column-one, .about-us .column-two{
    width:320px;
    margin-bottom:20px;
  }

  .about-us .column-three{
    width:320px;
    margin-bottom:70px;
  }

  .portfolio .portfolio-margin{
    width:320px;
  }

  .partners .content{
    width:400px;
  }

  .partners .logo {
    width:400px;
  }

  .partners .logo img {
    width:80px;
    padding-bottom:20px;
  }

  .contact, .contact .content, .contact .content .form{
    width:320px;
  }

  .contact .content .contact-text{
    padding-left:0px;
    width:320px;
    text-align:center;
    margin-top:60px;
  }

  .contact .content .contact-text {
    width:275px;
  }

  .contact .content .form .column, .contact .content .form .column-3{
    width:420px;
  }

  .contact .content .form .column-2{
    width:420px;
    padding-left:0;
  }

  .contact{
    margin:0 auto;
  }

  .footer{
    position:relative;
  }

  input{
    width:420px;
  }

  textarea{
    width:420px;
  }
}

/* iPad (portrait) */
@media (min-width: 768px) and (max-width: 1089px) {

  .menu-content .logo{
    width:200px;
  }

  .menu-content{
    width:740px;
  }

  .about-us .content{
    width:740px;
  }

  .about-us p{
    width:200px;
  }

  .about-us h2{
    letter-spacing:2px;
  }

  .about-us .column-one{
    width:233px;
  }

  .about-us .column-two{
    width:233px;
  }

  .about-us .column-three{
    width:233px;
  }

  .portfolio .portfolio-margin {
    width:740px;
  }

  .contact{
    margin:0 auto;
  }

  .contact .content {
    width:700px
  }

  .footer{
    position:relative;
  }

  .contact .content .form{
    width:355px;
  }

  input{
    width:320px;
  }

  textarea{
    width:320px;
  }

  .contact .content .form .column, .contact .content .form .column-3{
    width:450px;
  }

  .contact .content .form .column-2{
    width:450px;
    padding-left:0;
  }


}